# These owners will be requested to review when a pull request is opened.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @tankdonut
